<svg width="85px" height="53px" viewBox="0 0 85 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>shipping-icon</title>
    <defs>
        <polygon id="path-1" points="0.2 52 76.8 52 76.8 0.4 0.2 0.4 0.2 52"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="desktop-homepage" transform="translate(-221.000000, -2400.000000)">
            <g id="value-prop-callouts" transform="translate(0.000000, 2341.000000)">
                <g id="shipping" transform="translate(168.000000, 59.000000)">
                    <g id="shipping-icon" transform="translate(53.000000, 0.000000)">
                        <path d="M21.8002,4.0999 L28.9002,4.0999 C29.7002,4.0999 30.4002,3.3999 30.4002,2.5999 C30.4002,1.7999 29.7002,1.0999 28.9002,1.0999 L21.8002,1.0999 C21.0002,1.0999 20.3002,1.7999 20.3002,2.5999 C20.3002,3.3999 21.0002,4.0999 21.8002,4.0999" id="Fill-1" fill="#000000"></path>
                        <g id="Group-5" transform="translate(8.000000, 0.600000)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-4"></g>
                            <path d="M73.6,39.3998 C73.6,40.1998 72.9,40.8998 72.1,40.8998 L67.7,40.8998 C66.4,38.6998 64,37.0998 61.2,37.0998 C58.4,37.0998 56,38.5998 54.7,40.8998 L54,40.8998 L54,13.6998 L64.5,13.6998 C65,13.6998 65.5,13.9998 65.8,14.3998 L73.3,26.2998 C73.5,26.4998 73.5,26.7998 73.5,27.0998 L73.5,39.3998 L73.6,39.3998 Z M61.1,49.0998 C58.6,49.0998 56.6,47.0998 56.6,44.5998 C56.6,42.0998 58.6,40.0998 61.1,40.0998 C63.6,40.0998 65.6,42.0998 65.6,44.5998 C65.6,47.0998 63.6,49.0998 61.1,49.0998 L61.1,49.0998 Z M14.9,49.0998 C12.4,49.0998 10.4,47.0998 10.4,44.5998 C10.4,42.0998 12.4,40.0998 14.9,40.0998 C16.7,40.0998 18.2,41.0998 18.9,42.5998 C18.9,42.7998 19,43.0998 19.2,43.2998 C19.3,43.6998 19.4,44.1998 19.4,44.5998 C19.4,47.0998 17.4,49.0998 14.9,49.0998 L14.9,49.0998 Z M75.8,24.5998 L68.2,12.6998 C67.4,11.3998 66,10.5998 64.4,10.5998 L53.8,10.5998 L53.8,4.8998 C53.8,2.3998 51.8,0.3998 49.3,0.3998 L26.9,0.3998 C26.1,0.3998 25.4,1.0998 25.4,1.8998 C25.4,2.6998 26.1,3.3998 26.9,3.3998 L49.3,3.3998 C50.1,3.3998 50.8,4.0998 50.8,4.8998 L50.8,40.7998 L21.4,40.7998 C20.1,38.5998 17.7,37.0008 14.9,37.0008 C12.1,37.0008 9.7,38.5008 8.4,40.7998 L4.7,40.7998 C3.9,40.7998 3.2,40.0998 3.2,39.2998 L3.2,34.0998 C3.2,33.2998 2.5,32.5998 1.7,32.5998 C0.9,32.5998 0.2,33.2998 0.2,34.0998 L0.2,39.2998 C0.2,41.7998 2.2,43.7998 4.7,43.7998 L7.4,43.7998 L7.4,44.5008 C7.4,48.5998 10.8,52.0008 14.9,52.0008 C19,52.0008 22.4,48.5998 22.4,44.5008 L22.4,43.7998 L52.4,43.7998 L52.5,43.7998 L52.6,43.7998 L53.8,43.7998 L53.8,44.5008 C53.8,48.5998 57.2,52.0008 61.3,52.0008 C65.4,52.0008 68.8,48.5998 68.8,44.5008 L68.8,43.7998 L72.3,43.7998 C74.8,43.7998 76.8,41.7998 76.8,39.2998 L76.8,27.0998 C76.6,26.1998 76.3,25.3998 75.8,24.5998 L75.8,24.5998 Z" id="Fill-3" fill="#000000" mask="url(#mask-2)"></path>
                        </g>
                        <path d="M67.6,25.4998 L67.6,19.4998 L69.4,19.4998 L73.2,25.4998 L67.6,25.4998 Z M71.5,17.1998 C71.2,16.7998 70.7,16.4998 70.2,16.4998 L66,16.4998 C65.2,16.4998 64.5,17.1998 64.5,17.9998 L64.5,26.9998 C64.5,27.7998 65.2,28.4998 66,28.4998 L75.9,28.4998 C76.7,28.4998 77.4,27.7998 77.4,26.9998 C77.4,26.5998 77.3,26.2998 77,25.9998 L71.5,17.1998 Z" id="Fill-6" fill="#000000"></path>
                        <path d="M4.1,9.8001 L34.8,9.8001 C35.6,9.8001 36.3,9.1001 36.3,8.3001 C36.3,7.5001 35.6,6.8001 34.8,6.8001 L4.1,6.8001 C3.3,6.8001 2.6,7.5001 2.6,8.3001 C2.6,9.1001 3.2,9.8001 4.1,9.8001" id="Fill-8" fill="#000000"></path>
                        <path d="M11.9999,25.3001 C11.9999,26.1001 12.6999,26.8001 13.4999,26.8001 L44.1999,26.8001 C44.9999,26.8001 45.6999,26.1001 45.6999,25.3001 C45.6999,24.5001 44.9999,23.8001 44.1999,23.8001 L13.4999,23.8001 C12.6999,23.8001 11.9999,24.5001 11.9999,25.3001" id="Fill-10" fill="#000000"></path>
                        <path d="M8.7001,25.3001 C8.7001,24.5001 8.0001,23.8001 7.2001,23.8001 L1.5001,23.8001 C0.7001,23.8001 0.0001,24.5001 0.0001,25.3001 C0.0001,26.1001 0.7001,26.8001 1.5001,26.8001 L7.2001,26.8001 C8.0001,26.8001 8.7001,26.2001 8.7001,25.3001" id="Fill-12" fill="#000000"></path>
                        <path d="M31.7001,18.5999 C32.5001,18.5999 33.2001,17.8999 33.2001,17.0999 C33.2001,16.2999 32.5001,15.5999 31.7001,15.5999 L16.1001,15.5999 C15.3001,15.5999 14.6001,16.2999 14.6001,17.0999 C14.6001,17.8999 15.3001,18.5999 16.1001,18.5999 L31.7001,18.5999 Z" id="Fill-14" fill="#000000"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>