<svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>search-icon</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="desktop-homepage" transform="translate(-1129.000000, -118.000000)" fill="#767676">
            <g id="header" transform="translate(52.000000, 92.000000)">
                <g id="search-field" transform="translate(914.000000, 16.000000)">
                    <path d="M165.687507,18.7829266 C164.873468,17.9688874 164.425164,16.8864365 164.425164,15.735217 C164.425164,14.5839975 164.873468,13.5015466 165.687507,12.6875074 C166.501547,11.8734681 167.583998,11.4251636 168.735217,11.4251636 C169.886436,11.4251636 170.968649,11.8734681 171.782689,12.6875074 C172.596728,13.5015466 173.045032,14.5839975 173.045032,15.735217 C173.045032,16.8864365 172.596728,17.9688874 171.782689,18.7829266 C170.102498,20.4633549 167.368174,20.4633549 165.687507,18.7829266 M177.690838,23.6816772 L173.262046,19.252885 C175.011957,17.0037476 174.858239,13.7437834 172.792088,11.6781082 C170.555324,9.44063059 166.914872,9.44063059 164.678108,11.6781082 C162.440631,13.91511 162.440631,17.555324 164.678108,19.7925637 C165.79649,20.9109456 167.265854,21.4701365 168.735217,21.4701365 C169.979476,21.4701365 171.221594,21.0644257 172.252647,20.2622841 L176.681439,24.6910764 C176.82088,24.8305172 177.003628,24.9002376 177.186139,24.9002376 C177.368887,24.9002376 177.551398,24.8305172 177.690838,24.6913143 C177.96972,24.4124327 177.96972,23.9603209 177.690838,23.6816772" id="search-icon"></path>
                </g>
            </g>
        </g>
    </g>
</svg>