<style type="text/css">
  #shopify-section-{{section.id}} {
    background-color: {{section.settings.background_color}};
  }
</style>
<div data-section-id="{{ section.id }}" data-section-type="advantage-section">
  <div class="page-width">
    <div class="advantage-wrapper">
      {%- for block in section.blocks -%}
        {%- if block.type == 'advantage' -%}
          {%- if block.settings.svg_handle != blank and block.settings.title != blank -%}
            <div class="advantage-item">
              {%- include block.settings.svg_handle -%}
              <div class="rte-setting  mega-subtitle--large">
                {{- block.settings.title -}}
              </div>
            </div>
          {%- endif -%}  
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Advantage",
  "presets": [
    {
      "name": "Advantage",
      "category": "Promotional"
    }
  ],
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#979797"
    }
  ],
  "blocks": [
    {
      "type": "advantage",
      "name": "Item",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "svg_handle",
          "label": "SVG File Name",
          "info": "SVG file should be in snippets folder. The file name should not have file extension."
        },
        {
          "type": "html",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}